* {
  margin: 0;
}

.App {
  font-family: sans-serif;
}

/* Navbar */
nav {
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.navbar-img {
  width: 160px;
}
